<section class="research-agenda" id="classes">
    <div class="research"><h1>Classes</h1></div>
    <div class="classes-container container">
        <div class="icon-container">
            <!-- First Course Icon with Text -->
            <div class="course-icon">
                <a href="https://ssd-brandeis.github.io/COSI-127B/">
                <img src="/assets/img/cosi-127b.jpg" alt="Database Management Systems">
                <div class="course-text">Database Management Systems</div></a>
            </div>
    
            <!-- Second Course Icon with Text -->
            <div class="course-icon">
                <a href="https://ssd-brandeis.github.io/COSI-167A/">
                <img src="/assets/img/cosi-167A.jpg" alt="Advanced Database Systems">
                <div class="course-text">Advanced Data Systems</div></a>
            </div>
        </div>
    </div>
</section>
