<div class="contact-info" id="contact">
    <div class="contact-info-box container">
    <h1>Find Us</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.81341507013!2d-71.26054922336338!3d42.367815534610806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3833e07e5a11f%3A0x811cd0fc044f65ff!2sBrandeis%20University%20Graduate%20School%20of%20Arts%20and%20Sciences!5e0!3m2!1sen!2scl!4v1718342640339!5m2!1sen!2scl" width="600" height="300" style="border:0; margin:10px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
