<section class="description" id="description">
    <div class="container">
    <h4>Welcome to the Smart & Scalable Data Systems (SSD) lab! We are a group of passionate systems enthusiasts who are
        obsessed with designing, optimizing, and building highly efficient data systems. At SSD Lab, we strive to solve
        cutting-edge research challenges at the intersection of data systems design, storage engine optimization, and
        data privacy protection in modern systems. Our mission is to advance knowledge across the broader domains of
        database and storage engine design, machine learning for systems, systems for machine learning, and
        privacy-aware data systems. Below are the three main research thrusts of the lab.</h4></div>
</section>