<section class="publication-agenda container" id="publication">
      <div class="research"><h1>Publication</h1></div>
<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
</section>